[
  {rabbit, [ {default_user,        <<"rabbitmquser">>},
             {default_pass,        <<"rabbitmqpw">>},
             {ssl_listeners, [5671] }, 
             {ssl_options, [ 
               {cacertfile,				"/etc/rabbitmq/ssl/ca/cacert.pem" },
               {certfile,				"/etc/rabbitmq/ssl/server/rabbitmq.cert.pem" },
               {keyfile,				"/etc/rabbitmq/ssl/server/rabbitmq.key.pem" },
               {verify,					verify_peer},
               {fail_if_no_peer_cert,	false}]}
  ]},
  {rabbitmq_web_stomp, [ 
                         {ssl_config, [
                           {port,		15671},
                           {backlog,	1024},
                           {cacertfile,	"/etc/rabbitmq/ssl/ca/cacert.pem"},
                           {certfile,	"/etc/rabbitmq/ssl/server/rabbitmq.cert.pem"},
                           {keyfile,	"/etc/rabbitmq/ssl/server/rabbitmq.key.pem"},
                           {password,	"changeme"}
                         ]},
                         {ws_frame, binary}
                      ]}
].